<div>
  <div class="logo">
    <img src="/app/assets/images/logo.jpg" alt="app logo">
    <h2><em>Wallet</em></h2>
  </div>
  <div>
    <button class="btn btn-success ">
      <%= link_to "log In", ' /users/sign_in', class:"text-white text-decoration-none" %>
    </button>
    <button class="btn btn-success ">
      <%= link_to "Signup", " /users/sign_up", class:"text-white text-decoration-none" %>
    </button>
  </div>
</div> 
