<div>
<br>
  <div class="logo mx-auto">
    <img src="../../assets/logo.png">
  </div>
  <br>
  <br>
  <div class="d-grid gap-4 col-8 mx-auto">
    <button class="btn btn-lg buc1 btn-secondary">
      <%= link_to "LOG IN", '/users/sign_in', class: "text-white text-decoration-none" %>
    </button>
    <button class="btn btn-lg tx btn-secondary">
      <%= link_to "SIGN UP", '/users/sign_up', class: " text-white text-decoration-none " %>
    </button>
  </div>
</div>
